<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="d-flex col-lg-12">
            <div class="flex-1"></div>
            <div sec:authorize="isAuthenticated()">
                <div>
                    <form action="#" th:action="@{/logout}" method="post">
                        <input class="btn btn-danger btn-mini pull-right" type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Order List</h1>
            <p>WAA Market</p>
            <div sec:authorize="hasAnyRole('ROLE_BUYER')">
                Points: <span th:text="${#authentication.principal.points}"></span>
                <br/>
                Money: <span th:text="${#authentication.principal.money}"></span>
            </div>
        </div>
        <div class="d-flex col-lg-12">
            <div class="flex-1"></div>
            <div class="d-flex">
                <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a th:href="@{/sellers}" class="btn btn-danger btn-mini">Seller List</a>
                    <a th:href="@{/admin/orders}" class="btn btn-danger btn-mini">Orders</a>
                    <a th:href="@{/}" class="btn btn-danger btn-mini">Home</a>
                </div>
                <div sec:authorize="hasRole('ROLE_BUYER')">
                    <a th:href="@{/sellers}" class="btn btn-danger btn-mini">Seller List</a>
                    <a th:href="@{/cart}" class="btn btn-danger btn-mini">Cart</a>
                    <a th:href="@{/orders}" class="btn btn-danger btn-mini">My Order</a>
                    <a th:href="@{/}" class="btn btn-danger btn-mini">Home</a>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="container">
    <table>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Status
            </th>
            <th>
                Review
            </th>
            <th>

            </th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.product.name}"/>
            <td th:text="${order.status}"/>
            <td>
                <span th:if="${order.review != null}" th:text="${order.review.text}"></span>
            </td>
            <td>
                <div sec:authorize="hasRole('ROLE_BUYER')" th:switch="${order.status}">
                    <div th:case="null">
                        <a th:href="@{'/orders/' + ${order.id} +'/remove'}" class="btn btn-danger btn-mini">Remove</a>
                    </div>
                    <div th:case="CANCELED">
                        the Order has Been Canceled
                    </div>
                    <div th:case="*">
                        <div th:switch="${order.review}">
                            <a th:case="null" th:href="@{'/orders/' + ${order.id} +'/review'}"
                               class="btn btn-danger btn-mini">Add Review</a>
                            <p th:case="*">
                            </p>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${order.review != null}" th:switch="${order.review.active}">
                    <div th:case="true">

                    </div>
                    <div th:case="*">
                        <form action="#" th:action="@{'/admin/review/approve'}" th:object="${order.review}"
                              method="post">
                            <input type="hidden" th:value="*{id}" id="id" name="id"/>
                            <input id="submit" type="submit" tabindex="5" value="Approve">
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</section>
</body>
</html>